streamlit
pinecone-client
openai
streamlit-authenticator
python-docx
pymupdf4llm
PyPDF2
langchain
pinecone-client
langchain-community
langchain-pinecone
datasets
ragas
langchain-openai
python-dotenv
altair
python-pptx
sentence-transformers
